<p id="notice"><%= notice %></p>

<h1>Calendar</h1>

<%= javascript_pack_tag 'calendar' %>

<!--
<table>

  <tbody>
    <% @months.each do |month| %>
      <tr>
        <td><%= month.date %></td>
        <td><%= link_to 'Show', month %></td>
        <td><%= link_to 'Edit', edit_month_path(month) %></td>
        <td><%= link_to 'Destroy', month, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New month', new_month_path %>

-->