<p id="notice"><%= notice %></p>

<h1>Calendar</h1>

<%= javascript_pack_tag 'calendar' %>

<!--
<table>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.date %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

<%#= javascript_pack_tag 'reactbutton' %>
-->